*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
}

/* Navigation Bar */
.navigation-bar{
    position: fixed;
    top: 0%;
    z-index: 10;
    width: 100%;
    background-color: #005eb8;
    /* height: 68px; */
    /* padding: 0 9%; */
    
}
.nav-logo{
    display: grid;
    place-items: center;
}
.nav-content-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-side-icon{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 68px;
    position: relative;
}
.nav-content-1 ul{
    display: flex;
}
nav .nav-content-1 ul li{
    list-style-type: none; 
    display: grid; 
    place-items: center;
    padding-right: 10px;
    font-size: 16px; 
}
nav .nav-content-1 ul ul li{
    display: flex; 
}
nav .nav-content-1 ul ul li i{
    padding-left: 5px;
}
.arrow-angle-up{
    padding-left: 4px;
    transition: all .5s;
}
.nav-content-2-inner{
    display: none;
}

/* Nav-Pop-Up-Section */
.nav-pop-up-section{
    top:68px;
    position: fixed;
    /* overflow-y: scroll; */   
    background-color: #dadfe3;
    z-index: 11;
}


/* Nav-About Section */ 
.nav-about{
    padding: 1.5% 9%;
    display: grid;
    grid-template-columns: 1fr 32px;
    width: 100%;
}

.nav-about-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.nav-about-grid h2{
    color: #222;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 550;
}

.nav-about-grid h2::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 8px 0 0;
    width: 30px;
}

.nav-about-grid ul li{
    list-style-type: none;   
    margin-bottom: 15px;
}

.nav-about-grid ul li a{
    color:#333333;
    font-size: 14px;
    text-decoration: none;
}

.about-grid-1{
    margin: 0 7px 0 0;
    padding: 0 23px 0 0;
}

.about-grid-1 img{
    width: 272px;
    height: 72px;
    margin-top: 20px;
}
.about-grid-1 p{
    font-size: 14px;
}

/* Nav Services Section */
.nav-services{
    padding: 1.5% 9%;
    display: grid;
    grid-template-columns: 1fr 32px;
    width: 100%;
}

.nav-services-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.nav-services-grid h2{
    color: #222;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 550;
}

.nav-services-grid h2::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 8px 0 0;
    width: 30px;
}

.nav-services-grid ul li{
    list-style-type: none;   
    margin-bottom: 15px;
}

.nav-services-grid ul li a{
    color:#333333;
    font-size: 14px;
    text-decoration: none;
}
.about-services-1{
    padding-right: 10px;
}
.about-services-1 h3{
    padding: 25px 0 10px 0;
}

/* Nav-solution Section*/


.nav-solution{
    padding: 1.5% 9%;
    display: grid;
    grid-template-columns: 1fr 32px;
    width: 100%;
}
.nav-solution-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.nav-solution-grid h2{
    color: #222;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 550;
}

.nav-solution-grid h2::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 8px 0 0;
    width: 30px;
}
.solution-grid-1{
    padding-right: 10px;
}
.solution-grid-1 h3{
    padding: 25px 0 10px 0;
}
.nav-solution-grid ul li{
    list-style-type: none;   
    margin-bottom: 15px;
}

.nav-solution-grid ul li a{
    color:#333333;
    font-size: 14px;
    text-decoration: none;
}

/*  nav-technology Section*/
.nav-technology{
    padding: 1.5% 9%;
    display: grid;
    grid-template-columns: 1fr 32px;
    width: 100%;
}

.nav-technology-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.nav-technology-grid h2{
    color: #222;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 550;
}

.nav-technology-grid h2::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 8px 0 0;
    width: 30px;
}
.technology-grid-1{
    padding-right: 10px;
}
.technology-grid-1 h3{
    padding: 25px 0 10px 0;
}
.nav-technology-grid ul li{
    list-style-type: none;   
    margin-bottom: 15px;
}

.nav-technology-grid ul li a{
    color:#333333;
    font-size: 14px;
    text-decoration: none;
}

/* main section heading*/
.main-heading h1{
    margin-top: 10px;
    padding-top: 50px;
    font-size: 44px;
    text-align: center;
}

.main-company{
    padding: 4% 9%;
}

.main-company p{
    padding: 0 10%;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
}

/* Main Company Logo*/
.main-div-img-container{
    overflow: hidden;
    margin: 50px 0;
    white-space: nowrap;
    display: flex;
    position: relative;
}

.main-div-img-container:before{
    content: "";
    height: 100%;
    width: 200px;
    background: linear-gradient(to right,rgb(255, 255, 255) , rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1;
}

.main-div-img-container:after{
    right: 0;
    content: "";
    height: 100%;
    width: 200px;
    background: linear-gradient(to left,rgb(255, 255, 255) , rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 1;
}

.main-company-logo{
    display: flex;
    animation: 40s move infinite linear;
} 
@keyframes move {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.main-company-logo img{
    height: 80px;
    aspect-ratio: 2/1;
    object-fit: contain;
    margin: 0 20px;
    filter: grayscale(100%);
    opacity:.7;
}

.main-div-img-container:hover .main-company-logo{
    animation-play-state: paused;
}
.main-company-logo img:hover
{
    filter: grayscale(0%);
    opacity:100;
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 70px 0 0 30px;
}

.container-left{
    transform: translate(-30px,-30px);
}

.explore-heading{
    margin-top: 30px;
    margin-left: 30px;
}

.heading-padding p{
    font-size: 18px;
    line-height: 1.78;
    margin-top: 0;
}

.over-heading{
    background: #005eb8;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.3);
    width: calc(100% + 30px);
}

.container-right{
    padding: 7% 0 0% 9%;
    position: relative;
    width: 100%;
}

.container-right>div{
    display:none;
}

.software-active{
    display: block !important;
}

.explore-offering-btn{
    position: relative;
    right: 20px;
    bottom: 10px;
}
.explore-dash-section{
    display: none;
}
.explore-bottom-dash-section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.explore-bottom-dash-section i{
    margin: 0 5px;
    font-size: 22px;
}

/* web-mid-para */
.web-mid-para p{
    margin-bottom: 20px;
    text-align: center;
    line-height: 2;
    font-size: 18px;
}

/* web-mid-search */
.web-mid-search{
    
    position: relative;
}

.web-mid-search i{
    position: absolute;
    top: 45%;
    padding-left: 20px;
}

.web-mid-search input{
    width: 100%;
    height: 56px;
    line-height: 40px;
    background-color: #005eb8;
    border: none;
    padding: 7px 10px 7px 60px;
    border-radius: 50px;
}

/* ECO System Section */
.eco-system{
    display: flex;
}

.eco-system-content ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.eco-system-img img{
    height: 100%;
    width: 100%;
}

/* Solution Deliver Section */
.solution-deliver{
    background-color: #0B3155;
    color: #FFFFFF;
}

.deliver-boxes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.box-1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    height: 100px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5%;
    position: relative;
    transition: .2s;
}

.box-1:hover{
    background-color:  #005eb8;
    color: #FFFFFF;
}

.box-1:hover .arrow-icon{
    transform: rotate(0deg);
}

.arrow-icon{ 
    bottom: 10px;
    right: 10px;
    position: absolute;
    transform: rotate(45deg);
    transition: .2s;
}

/* Tech trends */
.tech-trends-main-container{
    padding: 2% 8%;
}

.trends-icon{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.trends-icon-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 8%;
    position: relative;
    z-index: 2;
}

.trends-icon-1::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    z-index: 3;
    transition: all .3s;
    left: 0;
}

.trends-icon-1:hover::after{
    width: 100%;
}

.trends-icon-1:hover .small{
    display: block;
}

.trends-icon-1 .small{
    display: none;
    position: absolute;
    height: 0;
    width: 0;
    bottom: -13px;
    border-top: 15px solid blue;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transition: all 1.5s;
}

.trends-icon-1 p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}

.trends-img{
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

.trends-img img{
    position: absolute;
    width: 70px;
}

.img-11 img{
    top: 0px;
}

.img-22 img{
    top: -140px;
}

.img-33 img{
    top: -280px;
}

.img-44 img{
    top: -420px;
}

.img-55 img{
    top: -560px;
}

.img-66 img{
    top: -700px;
}

.img-11 img:hover{
    top: -70px;
}

.img-22 img:hover{
    top: -210px;
}

.img-33 img:hover{
    top: -350px;
}

.img-44 img:hover{
    top: -490px;
}

.img-55 img:hover{
    top: -630px;
}

.img-66 img:hover{
    top: -770px;
}
.dash{
    display: none;
}

/* Media Querry Max-Width:764px*/
.bottom-dash-section{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bottom-dash-section i{
    font-size: 20px;
}

/* Technology and Plateform Section */
.plateform-and-technology-main-container{
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid #dadfe3;
    background-image: url(./IMG/techAndPlateSection.svg);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.plateform-conatiner{
    box-shadow: 2px 0px 10px rgba(0,0,0,.25);
}

.container-1{
    border-bottom: 1px dotted rgb(0, 157, 255);
}

.row-devide-container{
    padding: 2% 1% 3% 4%;
}

.technology{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tech img{
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 15px;
    height: 80px;
    padding: 10px;
    width: 80px;
    object-fit: contain;
    border-radius: 20px;
    transition: all .2s ease-in;
}

.tech img:hover{
    box-shadow: 0px 5px 5px #515050;
    transform: scale(1.1);
}


/* success And Stories */
.main-success-section{

    display: grid;
    grid-template-rows: repeat(2,270px);
    gap: 25px;
}
.main-success-section h2{
    font-size: 22px;
}
.section-1-img{
    display: flex;
    gap: 25px;
    
}

.section-2-img{
    display: flex;
    gap: 25px;
}

#img-1{
    background-image: url(./IMG/succes-img-1.jpg);
    width: 40%;
}

#img-2{
    background-image: url(./IMG/succes-img-2.jpg);
    width: 60%;
}

#img-3{
    background-image: url(./IMG/succes-img-3.jpg);
    width: 50%;
}

#img-4{
    background-image: url(./IMG/succes-img-4.jpg);
    width: 25%;
}

#img-5{
    background-image: url(./IMG/succes-img-5.jpg);
    width: 25%;
}

.img-front-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0px;
    padding: 5% 3%;
}

.para-btn-div{
    display: flex;
    justify-content: space-between;
}

.background-property{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.overlay-img{
    filter: #7c8186;
    width: 100%;
    height: 100%;
}

.img-content{
    padding: 5% 3%;
    background-color: #fff;
    height: 100%;
    width: 100%;
    opacity: -1;  
    transition: opacity .3s ease-out;
    position: relative;
}

.img-content .btn-icon-div{
    position: absolute;  
    bottom: 3%;
    right: 10px;
    color: #005eb8;
}

.btn-icon-div button{
    margin-right: 10px;
    background: none;
    border: none;
    color: #005eb8;

}

.img-content:hover{
    opacity: 10;  
}

.background-property:hover .img-front-content{
    display: none;
}

.img-content h2{
    margin-bottom: 20px;
}

.img-content ul li{
    list-style-type: none;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
}

/* Custumers Says Section */
.custumers-main-container{
    display: grid;
    grid-template-columns: 70% 1fr;
}

.custumers-main-left{
    padding: 2% 6%;
}

.comma{
    font-size: 100px;
    font-weight: 1000;
    opacity: 0.2;
    filter: grayscale(100%);
}

.custumer-info{
    display: flex;
    gap: 10px;
}

.custumers-basic p{
    font-size: 20px;
    font-weight: 500;
}

.custumers-main-right{
    padding-top: 50px;
    display:grid;
    grid-template-rows: repeat(8,1fr);
    box-sizing: border-box;
    box-shadow: -10px 0 10px rgba(0,0,0,.25);
}

.custumers-main-right .cus-img{
    margin-bottom: 30px;
}

.custumers-main-right img{
    object-fit: contain;
    padding: 0% 0% 0% 12%;
    filter: grayscale(100%);
    opacity: 10;
    transition: filter .2s ease-in-out;
    height: 32px;
    width: auto;
}

/* @media Querry For Custumers Section */
.left-img-div{
    display: none;
}

/* Industry Expertise Section */
.industry-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-row-gap:30px;
    grid-column-gap:30px

}

.indrustry-1{
    text-align:center;
    display:grid;
    place-items:center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    padding-top: 30px ;
    padding-bottom: 30px ;
    position: relative;
    transition: all .3s ease;
}

.indrustry-1::after{
    content:"";
    display:inline-block;
    width:0;
    height:3px;
    background-color:blue;
    position: absolute;
    bottom:0;
    left:0;
    transition:width .3s ease;
}

.indrustry-1:hover::after{
    width:100%;
}

.indrustry-1:hover p{   
    color:blue;
}

.indrustry-1:hover i{
    transform:rotate(0deg);
}

.industry-container img{
    height:90px;
    width:90px;
}

.industry-container p{
    color: #222;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px; 
}

.arrow-icon-2{
    position: absolute;
    top:10px;
    right:10px;
    transform:rotate(-45deg);
    color:blue;
}

/* Recognitions and Partnerships */
.partnership-section{
    margin: 50px 0;
}

.partner-company{
    overflow: hidden;
    padding:50px 0;
    white-space: nowrap;
}

.company{
    display: inline-block!important;
    animation: 40s slide infinite linear;
}

@keyframes slide {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }

}

.partner-company:hover .company{
    animation-play-state: paused;
}

.company img{
    height: 100px;
    aspect-ratio: 2/1;
    object-fit: contain;
    margin: 0 20px;
    filter: grayscale(100%);
    opacity:.4;
}

.partner-company .company img:hover{
    filter: grayscale(0%);
    opacity: 100;
} 

/* Finantial Times Section */
.financial-times-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    background-color: rgb(240, 249, 255);
}

.financial-section-content{
    margin-right:32px;
}

.financial-section-img{
    display:grid;
    place-items:center;
}

/* Feature Section */
.feature-heading{
    font-size:10px;
    font-weight:600;
    letter-spacing:.5px;
    color:orange;
    margin:20px 0;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:30px
}

.feature img{
    aspect-ratio: 3/4;
    object-fit: contain;
    max-height: 100%;
    max-width: auto;
}

.feature{
    padding:5%;
    box-shadow: 2px 0px 10px rgba(0,0,0,.20);
    position: relative;
    overflow-x: hidden;
    transition:  all 1s;  
}

.feature:hover{
    box-shadow: 2px 0px 10px rgba(0,0,0,.5);
}
.feature::after{
    content: "";
    height: 4px;
    width: 0%;
    background-color: #005eb8;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .8s ease-in;
}

.feature:hover::after{
    width: 100%;
}

.animation{
    display: flex;
    float: right;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.keep{
    position: relative;
    left: 160px;
    transition: left 1s;
    color: #005eb8;
}

.feature:hover .keep{
    left: 0;
}

.icon{
    z-index: 1;
  
    background-color: #FFFF;
}
.right-arrow{
    padding: 0 10px;
    position: relative;
}


.icon i{
    transition: all 1s;
}

.feature:hover .icon i{
    animation: move-arrow 1s infinite .8s;
    color: #005eb8;
}

@keyframes move-arrow {
    0%{
        left: 0px;
    }
    50%{
        left: 5px;
    }
    100%{
        left: 0px;
    }
}

/* FAQ Section */
 .faq{
    display: flex;
    justify-content: space-between;
  }

  .faq-back{
    position: relative;
    color: #000000;
  }

  .faq-detail i{
    margin-left: 8px;
    transition: all .5s ease-in-out ;
  }

  .faq-detail{
    color: #005eb8;
    display:flex;
    align-items: center;
  }

  .faq-para p{
    font-size: 20px;
    color: blue;
    padding: 20 0px;
    line-height: 1.5;
    line-break: .5px;
    margin-bottom: 10px;  
  }

  .faq-para-1{
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .2px;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out ;
}

.active{
    height: auto;
    margin-top: 5px;
    transition: all .5s ease-in-out ;
    margin-bottom: 10px;
}

.rotate-arrow-icon i{
    transform: rotate(180deg);
}

/*  Consultation section   */
.consult-container{
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-column-gap: 30px;
}
.input-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
}
.input-div input{
    border: none;
    border-radius: 2px;
    padding: 10px;
}
.input-div input::placeholder{
    border: none;
    /* background-color: #005eb8; */
    font-size: 20px;
    color: #917c7c;
}
.text-area{
    display: grid;
    grid-template-rows: 80px;
    margin-top: 20px;
    position: relative;
    
}
.text-area input{
    border-radius: 5px;
    border: none;
}
.text-area p{
    position: absolute;
    top: -15%;
    left: 7%;
    background-color: #fff;
    padding: 0 10px;
}
.contact-div{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.contact-icon{
    display: grid;
    place-items: center;
}

/* .consult-container{
    display: grid;
    grid-template-columns: 1fr 20%;
    padding: 50px 0px;
}

.form-container{
    padding-right: 20px;
}

.input-div{
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.input-div input{
    padding: 10px;
    font-size: 16px;
}

.input-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}

.text-area {
    position: relative;
}

.text-area input{
    width: 100%;
    height: 100px;
}

.text-area p{
    position: relative;
    font-size: 15px;
    top:-110px;
    left: 20px;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 0 10px;
}

.info-container{
    padding: 10px;
}

.contact-div{
    display: flex;
    font-size: 20px;
    color: #005eb8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-no{
    display: flex;
    flex-direction:column;
    margin-left: 20px;
}

.inquries{
    margin-bottom: 20px;
} */

/* footer Section */
footer{
    background-color:#0B3155;
    color: hsla(0,0%,100%,.7);
}

.footer-container-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.footer-cont-1-section-a{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.footer-cont-1-section-b{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.flex-display{
    display: flex;
    align-items: center;
}

.left-margin{
    margin: 15px;
}

.company-icon{
    font-size: 22px;
    color: #ffff;
}

hr{
    width: 100%;
    height: 1px;
    background-color: rgb(127, 124, 120);
}

.footer-container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.foot-cont-2-section-a ul{
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
   
}

.foot-cont-2-section-a ul li a{
    margin-right: 30px;
    text-decoration: none;
    color: hsla(0,0%,100%,.7);
}

.foot-cont-2-section-b{
    text-align: right;
}

.foot-cont-2-section-b img{
    width: 150px;
    height: 50px;
    margin: 0 10px;
}

/* Media Querry */


@media (max-width:1278px) {
    .nav-content-1{
        display: block;
    }
    /*  Consultation section   */
    .consult-container{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .info-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .input-div{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    Footer Section
    .footer-container-1{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1024px) {
    nav .nav-content-1 ul li{
        padding-right: 8px;
    }
    .tech-trends-main-container {
        padding: 0% 0%;
    }
    .trends-icon-1 {
        margin: 0 2px;
        padding: 0%;
    }
}
@media(max-width:835px){
    .nav-content-1{
        display: none;
    }
    .nav-right-side-icon{
        display: flex;
        align-items: center;
        padding-right: 10px;
        font-size: 25px;
    }
    /* .nav-content-2{
        display: block;
        
    } */
    .nav-content-2-inner{
        position: absolute;
        /* display: none; */
        display: flex;
        align-items:center;
        justify-content: center;
        padding-top:50px;
        height: 100vh;    
        width: 300px;
        background-color: #000000;
        color: white;
        z-index: -2;
        right: -300px;
        top: 0%;
        transition: all 4s;
        overflow: scroll;
    }
    .nav-content-2-inner ul li{
        list-style-type: none;
        padding: 5px 0px;
        font-size: 15px;
        text-decoration: none;
        color: #ecb3b3;
    }
    .nav-content-2-inner ul li ul li a{
        font-size: 10px;
        text-decoration: none;
        color: #ed8b00;
    }
    .arrow-angle-up{
        margin-left: 8px;
    }
    .cancle-icon-div{
        top: 20px;
        right: 20px;
        font-size: 25px;
    }
}
@media (max-width:768px) {
    /* Main Heading */
    .main-heading h1{
        font-size: 40px;
    }
    .main-company p{
        font-size: 18px;
        line-height: 2;
    }
    /*Tech Trends*/
    
    .trends-icon-1 p{
        font-size: 16px;
    }
    /* Solution Deliver Section */
    .deliver-boxes{
        grid-template-columns: repeat(3,1fr);
    }
    .custumers-main-left p{
        line-height: 2;
        letter-spacing: .5px;
    }
    /* Industry Expertise Section */
    .industry-container{
        grid-row-gap:20px;
        grid-column-gap:20px
    }
    .indrustry-1{
        padding-top: 15px ;
        padding-bottom: 15px ;
    }
    /* Recognitions and Partnerships */
    .partnership-section{
        margin: 20px 0;
    }
    .partner-company{
        padding:20px 0;
    }
    /* Finantial Times Section */
    .financial-section-content h2{
        font-size: 26px !important;
    }
    .financial-section-content p{
        font-size: 18px;
        letter-spacing: 1px;
    }
    /* success And Stories */
    .img-front-content{
        padding: 2% 3%;
    }
    .main-success-section h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .main-success-section p{
        font-size: 12px;
    }
    .main-success-section{
        display: grid;
        grid-template-rows: 1fr;
    }
    .section-1-img{
        display: grid;
        grid-template-rows: 175px 175px;
       }
       .section-2-img{
        display: grid;
        grid-template-rows: 175px 175px 175px;
       }
    #img-1{
        width: 100%;
        }
    #img-2{
        width: 100%;
        }
    #img-3{
        width: 100%;
        }
    #img-4{
        width: 100%;
        }
    #img-5{
        width: 100%;
        }
    /* Finantial Times Section */
    .financial-times-section{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    /* FAQ Section */
    .feature-container{
        display: flex;
        flex-direction: column;
    }
    .feature{
        display: grid;
        grid-template-columns: 250px 1fr;
    }
    .feature img{
        height: 200px;
        width: 200px;
    }
    /* Footer Section */
    .footer-cont-1-section-a{
        display: flex;
        flex-direction: column;
    }
    .footer-cont-1-section-b{
        display: flex;
        flex-direction: column;
    }
    .footer-container-2{
        display: flex;
        flex-direction: column-reverse;
    }
    .foot-cont-2-section-a ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot-cont-2-section-a p{
        text-align: center;
    }
    .footer-container-2 p{
        text-align: center;
    }
    .foot-cont-2-section-b-img{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-content-1{
        display: none;
    }
    
}

@media (max-width:767px) {
    
    .eco-system{
        display: flex;
        flex-direction: column;
    }.eco-system-img img{
        object-fit: contain;
        padding: 5%;
    }
}
@media (max-width:766px) {
    .nav-right-side-icon{
        display: flex;
        align-items: center;
        font-size: 22px;
        padding-right: 10px;
    }

    /* Solution Deliver Section */
    .deliver-boxes{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 10px;
    }
    .box-1{
        font-size: 16px;
        height: 60px;
    }
    /* Industry Expertise Section */
    .industry-container{
        display: flex;
        flex-direction: column;
    }
    .indrustry-1{
        display: flex;
        justify-content: space-between;
    }
    .img-div{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .img-div p{
        line-height: 2;
        letter-spacing: .5px;
        margin-top: 0px;
    }
    /* FAQ Section */
    .faq-detail p{
        display: none;
    } 
}


@media(max-width:765px){
    /* Tech trends */
    
    
    .trends-icon-1 p{
        font-size: 18px;
        text-align: left;
    }
    .dash{
        display: block;
    }
    .trends-icon-1{
        padding: 0;
    }
    .visibilityat1000px
    {
        display: none;
    }  
    .trends-icon-1:hover::after{
        width: 0%;
    }
    .trends-icon-1:hover .small{
        display: none;
    }
    
    /* Custumers Says Section */
    .custumers-main-container{
        display: flex;
        flex-direction: column;
    }
    .custumers-main-right{
        display: none;
    }
    .comma{
        display: none;
    }
    .left-img-div{
        display: block;
    }
    .left-img-div{
        display: flex;
        box-shadow: 0px 2px 5px rgb(88, 88, 88);
        border-radius: 0 0 10px 10px;
    }
    .custumers-main-right-765px{
        display: flex;
        position: relative;
        height: 100px;
        width: 100%;
        z-index: 4;
        overflow: hidden;
    }
    .rightDivImg{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        height: 100px;
        width: 100%;
        padding: 2% 5%;
    }
    .rightDivImg img{
        height: 100%;
        width: 100%;
        border-left: none;
    }
    .btn-pre{
        padding-right: 4px;
        padding-left: 10px;
    }
    .btn-next{
        padding-left: 4px;
        padding-right: 10px;
    }
    .angle-btn-style{
        display: flex;
        align-items: center;
    }
    .angle-btn-style button {
        background: none;
        border: none;
    }
    .angle-btn-style button i{
        font-size: 35px;
    }
    .custumers-basic p{
        line-height: 1.2;
    }
    /* Financial Section*/
    .financial-section-content {
        margin-right: 0px;
    }
}
@media(max-width:601px){
    .main-heading h1{
        font-size: 25px;
    }
    .main-company p {
        padding: 0%;
        line-height: 1.5;
        margin-bottom: 5px;
    }

     /* Our Offering Section*/
     .explore-heading p{
        padding: 12px 10px 12px 16px;
        line-height: 1.5;
    }
    .container{
        grid-template-columns: 100%;
        margin: 0px 0 0 20px;
    }
    .container-right {
        padding: 4% 0 0% 0%;
        position: relative;
        width: 100%;
    }
    .over-heading {
        width: calc(100% + 15px);
    }
    .bottom-dash-section {
        margin-top: 20px;
    }
    .container-left{
        display: none;
    }
    .explore-dash-section{
        display: block;
    }
    /* Feature Section */
    .feature-heading{
        margin:10px 0;
    }
    .feature-img-content-div h2{
        margin-bottom: 10px;
    }
    .feature-img-content-div p{
        line-height: 1.5;
    }
    /* Recognitions and Partnerships  */
    .company img {
        height: 64px;
    }
}
@media(max-width:481px){
    .container{
        margin: 1 0px 0 0 0;
    }
    
    .container-right{
        padding: 1% 5%;
    }
    
    /* Our Offering Section  */
    .expolre-content-ul li {
        list-style-type: square;
        font-size: 18px;
        margin: 0 0px 10px 23px;
        padding-top: 10px;
    }


    /* Feature Section */
    .feature{
        display: block;
        padding: 0 2% 5% 2%;
    } 
    
    /* Technology and Plateform Section */
    .plateform-conatiner .container-1 p{
        padding: 12px 10px 12px 16px;
        line-height: 1.5;
    }
    .tech img{
        height: 65px;
        padding: 8px;
        width: 65px;
    }

    /* Footer Section*/
    .foot-cont-2-section-b img {
        width: 130px;
        height: 40px;
        margin: 0px 9px;
    }
}
@media(max-width:440px){
    .web-mid-para p {
        margin-bottom: 0px;
        line-height: 1.5;
        font-size: 14px;
    }
    .input-div {
        grid-template-columns: repeat(1,1fr);
    }
    .financial-section-img img{
        width: 100%;
        height: 100%;
    }
    .foot-cont-2-section-b img {
        width: 100px;
        height: 30px;
    }
}
@media(max-width:400px){
    .plateform-conatiner .container-1 p{
        padding: 10px 10px 10px 10px;
        line-height: 1.5;
    }
    .tech img{
        height: 55px;
        padding: 8px;
        width: 55px;
        margin-right: 8px   ;
    }
    .footer-container-1 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .foot-cont-2-section-b img {
        margin: 0px 3px;
    }
    .feature-img-content-div .expolre-content-paragraph{
        margin-bottom: 30px;
    }
}
